.master-head.home.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p ¡Bienvenido a mi portafolio! Descubre mi trayectoria profesional y proyectos personales
md-content.fade-in.fade2
  md-card
    md-card-content(layout="row", layout-wrap, layout-fill, layout-padding)
      .contact-container(ng-repeat="social in socials",
        flex,
        flex-sm="50",
        flex-md="33",
        flex-gt-md="20")
        md-button.contact-button.md-primary(aria-label="Ir a {{social.name}} de {{social.contact}}", ng-href="{{social.href}}", target="_blank")
          span.contact-icons(class="{{social.icon}}")
          md-tooltip {{social.contact}}
        h2 {{social.name}}
md-content.fade-in.fade3(layout="row", layout-wrap)
  md-card(layout-sm,
    flex-gt-sm="49")
    md-card-content
      h2
        span.icon-beaker.title-option-icon
        | Proyectos
      .info-card
        p Conoce mi experiencia laboral con proyectos en los que he participado o aquellos que a nivel personal me mantienen motivado.
      .info-card(layout="column" layout-align="center center")
        md-button.md-primary(ng-href="#/personal") Personales
        md-button.md-primary(ng-href="#/professional") Profesionales
  md-card(layout-sm,
    flex-gt-sm="49")
    md-card-content
      h2
        span.icon-search.title-option-icon
        | Descubre más
      .info-card
        p Conoce mi perfil a través de mis aficiones y otros intereses. También puedes encontrarme en diferentes redes y contactar conmigo.
      .info-card(layout="column" layout-align="center center")
        md-button.md-primary(ng-href="#/about") Perfil
        md-button.md-primary(ng-href="#/home") Contacto
