.master-head.personal.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p Descubre proyectos y experimentos que desarrollo en mi tiempo libre
md-content.fade-in.fade2(layout="row", layout-wrap)
  div(ng-repeat="project in projects.personal",
    layout-sm,
    flex-gt-sm="50",
    flex-md="50",
    flex-gt-md="33",
    flex-lg="33",
    flex-gt-lg="25")
    md-card
      img(ng-src="{{project.image}}", alt="{{project.title}}")
      md-card-content
        h2.project-name {{project.title}}
        small {{project.detail}}
        .info-card.project-card
          p {{project.notes}}
        .info-card(layout="row", layout-align="end end")
          md-button.md-accent.md-raised(ng-click="showDialog($event, project.dialogTemplate)") Saber más