.master-head.professional.fade-in.fade1
  .info(layout="row", layout-align="center end")
    p Revisa mis proyectos profesionales a través de mi experiencia laboral
md-content.fade-in.fade2
  md-card
    md-card-content
      .info-card
        h2 s|ngular - Desarrollador Front
        small Mayo 2016 - Actualmente
        p
          img.photo(src="src/images/sngular.jpg", alt="sngular")
          | Principalmente dedicado al desarrollo de proyectos con web componentes en BBVA.

    md-card-content
      .info-card
        h2 GFT - Desarrollador Front
        small Enero 2016 - Mayo 2016
        p
          img.photo(src="src/images/gft.jpg", alt="gft")
          | Tras la adquisición de Adesis Netlife por parte del grupo alemán GFT pasé a formar parte de su plantilla.
        p En esta transición mi desempeño laboral fue exactamente el mismo que en Adesis Netlife.

    md-card-content
      .info-card
        h2 Adesis Netlife - Desarrollador Front
        small Septiembre 2012 - Enero 2016
        p
          img.photo(src="src/images/adesis.jpg", alt="Adesis Netlife")
          | Mi desempeño en Adesis fue en un principio el de dar apoyo al equipo de Front en los desarrollos de los proyectos, planificación de tareas y en la resolución de incidencias.
        p He trabajado con novedosas tecnologías de desarrollo web como son JADE, AngularJS, NodeJS, ...
        p He participado en el desarrollo de la arquitectura front horizontal que dará soporte a las aplicaciones que se crearán después para Mapfre y Bankia.
        p Me he centrado sobre todo en el desarrollo de componentes web mediante directivas de AngularJS. Definiendo así un catálogo que utilizarán los desarrolladores.
md-content.fade-in.fade3(layout="row", layout-wrap)
  div(ng-repeat="project in projects.professional",
    layout-sm,
    flex-gt-sm="50",
    flex-md="50",
    flex-gt-md="33",
    flex-lg="33",
    flex-gt-lg="25")
    md-card
      img.project-image(ng-src="{{project.image}}", alt="{{project.title}}")
      md-card-content
        h2.project-name {{project.title}}
        small {{project.company}}
        .info-card.project-card
          p {{project.notes}}
        .info-card(layout="row", layout-align="end end")
          md-button.md-accent.md-raised(ng-click="showDialog($event, project.dialogTemplate)") Saber más
